<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Index' %}
	{% endif %}
	<style>
		img{
			width: 750px;
			height: 150px;
		}
	</style>
	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>
	<div>
		<img src="https://i.loli.net/2018/11/03/5bdd5671974e3.png" alt="feiyun's Deep Learning Adventures" title="feiyun's Deep Learning Adventures" />
	</div>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?1128afbb87db24a1944177655c7e2b0b";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</aside>
